<!DOCTYPE html>
<html lang="en">

<head>
	<partial name="_Head" />
</head>

<body>
	<div class="container-xxl bg-white p-0">
		<partial name="_Spinner" />
		<partial name="_Navbar" />

		@RenderBody()

		<partial name="_Footer" />

		<!-- Back to Top -->
		<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
	</div>

   <partial name="_Scripts" />
</body>

</html>