@model Scoring

<div class="user-profile-page">
    <div class="card radius-15">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-5 border-right">
                    <div class="d-md-flex">
                        <div class="mb-md-0 mb-3">
                            <img src="@Model.Users.UserImageUrl" class="rounded ml-3 shadow" width="200" height="300" style="object-fit: cover">
                        </div>
                        <div class="ms-md-4 flex-grow-1">
                            <div class="d-flex align-items-center mb-3">
                                <h4 class="mb-0">@Model.Users.UserFullName</h4>
                            </div>
                            <a href="/Management/Scoring/Index" type="button" class="btn btn-secondary m-1 px-5">Cancel</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 border-right text-end">
                </div>
                <div class="col-12 col-lg-4">
                    <table class="table table-sm table-borderless mt-md-0 mt-3">
                        <tbody>
                            <tr>
                                <th>About:</th>
                            </tr>
                            <tr>
                                <td>@Html.Raw(Model.ScoringDescription)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
